@font-face {
    font-family: vazirmatn;
    src: url(./Vazirmatn-Regular.ttf);
}
body{
    font-family: vazirmatn;
}
body svg{
    fill: currentColor;
}
.lh-1{
    line-height: 30px;
}
.lh-2{
    line-height: 35px;
}

.underline{
    width: 150px;
    border: 3px solid #eee;
    margin: auto;
}
.underline2{
    width: 150px;
    border: 3px solid #aaa;
    margin: auto;
}
/* ...............header..........  */
/* ..............navbar............  */
.myNav{
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.5));
    padding: 30px;
    transition: all 0.7s;
}
.myNav ul li a{
    color: #eee;
    font-size: 17px;
    transition: color 0.5s;
}
.myNav ul li a:hover{
    color: #70aed2;
}
.line1, .line2, .line3{
    width: 23px;
    height: 3px;
    margin: 5px;
    transition: all 0.4s;
}
.change .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.change .line2{
    opacity: 0;
}
.change .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}
.custom-navbar{
    padding: 5px 30px;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.7));
}

/* ..............end of navbar............  */


header{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.8)),url(./images/banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;
}
.banner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: impact;
}
.banner .banner-header{
    animation-name: anim;
    animation-duration: 2s;
}
.banner .banner-p{
    animation-name: anim;
    animation-duration: 2s;
    animation-delay: 0.2s;
}

@keyframes anim {
    0%{
        transform: translateX(-170px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
/* ...............end of header..........  */
/* ...........awards............... */
.awards{
    background-color: #151f20;
}
.right-anim{
    animation-name: right;
    animation-duration: 2s;
}
.left-anim{
    animation-name: left;
    animation-duration: 2s;
}
@keyframes right {
    0%{
        transform: translateX(50px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes left {
    0%{
        transform: translateX(-50px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
/* ...........end of awards............... */
/* ...............services..................  */
.type-service{
    box-shadow: 5px 7px 20px rgba(0,0,0,0.7);
}
.img-lable{
    position: absolute;
    left: 0;
    top: 60%;
    width: 50%;
    height: 15%;
    background-color: rgb(37, 148, 223);
    opacity: 0.8;
    transition: opacity 0.7s;
    cursor: pointer;
}
.img-lable:hover{
    opacity: 1;
}
/* ...............end of services..................  */
/* ................gallery....................... */
.category-link{
    color: #666;
    cursor: pointer;
}
.active-item{
    color: #199ce7;
}
/* ................end of gallery....................... */
/* ..............trainers.....................  */
.trainers{
    background-color: #151f20;
}
.trainers .img-trainer{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
/* ..............end of trainers.....................  */
/* ..................membership...................  */
.membership .card-list-item{
    border-bottom: 1px solid #eee;
    width: 50%;
    margin: auto;
}
.membership .card{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)),url(./images/membership.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 5px 7px 20px rgba(0, 0, 0, 0.5);
}
.membership .submit-btn{
    background-color: #199ce7;
    border-radius: 20px;
    padding: 5px 40px;
    opacity: 0.8;
    transition: transform 0.5s ,opacity 0.5s;
}
.membership .submit-btn:hover{
    transform: translateY(-2px);
    opacity: 1;
}
.move-right{
    animation-name: move-right;
    animation-duration: 2s;
}
.move-left{
    animation-name: move-left;
    animation-duration: 2s;
}
.move-bottom{
    animation-name: move-bottom;
    animation-duration: 2s;
}

@keyframes move-right {
    0%{
        transform: translateX(50px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes move-left {
    0%{
        transform: translateX(-50px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes move-bottom {
    0%{
        transform: translateY(50px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
/* ..................end of membership...................  */
/* ..............contact............................  */
.contact{
    background: linear-gradient(105deg ,rgba(21,31,32,0.8)0%, rgba(21,31,32,0.9)50% , transparent 50%),url(./images/contact.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.contact .submit-button{
    background-color: #199ce7;
    opacity: 0.8;
    transition: transform 0.3s , opacity 0.3s;
}
.contact .submit-button:hover{
    transform: translateY(-2px);
    opacity: 1;
}
.contact .form-input{
    background: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #eee;
    transition: all 0.5s;
    color: #ccc;
}
.contact .form-input:focus{
    background: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 2px solid orange;
    color: #ccc;    
}
.contact .form-input::placeholder{
    color: #666;
    font-size: 0.8rem;
}
@media (max-width:992px) {
    .contact{
        background: none;
        background-color: rgba(21, 31, 32, 0.9);
    }

}
/* ..............end of contact............................  */
/* ....................footer.....................  */
footer p{
    font-size: 12px;
}
footer ul li a svg{
    width: 30px;
}
footer ul li a{
    text-decoration: none;
    color: #eee;
    font-size: 12px;
    transition: color 0.3s;
}
footer ul li a:hover{
    color: #199ce7;
}

