@font-face {
    font-family: vazirmatn;
    src: url(./Vazirmatn-Regular.ttf);
}
body{
    font-family: vazirmatn;
}

/* ...............header..........  */
/* ..............navbar............  */
.myNav{
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.5));
    padding: 30px;
    transition: all 0.7s;
}
.myNav ul li a{
    color: #eee;
    font-size: 17px;
    transition: color 0.5s;
}
.myNav ul li a:hover{
    color: #70aed2;
}
.line1, .line2, .line3{
    width: 23px;
    height: 3px;
    margin: 5px;
    transition: all 0.4s;
}
.change .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.change .line2{
    opacity: 0;
}
.change .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}
.custom-navbar{
    padding: 5px 30px;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.7));
}

/* ..............end of navbar............  */


header{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.8)),url(./images/banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;
}
.banner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: impact;
}
.banner .banner-header{
    animation-name: anim;
    animation-duration: 2s;
}
.banner .banner-p{
    animation-name: anim;
    animation-duration: 2s;
    animation-delay: 0.2s;
}

@keyframes anim {
    0%{
        transform: translateX(-170px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

/* ...............end of header..........  */


